.cart-number {
  font-size: .625rem;
  position: absolute;
  top: 18px;
  right: -10px;
  min-width: 18px;
  height: 18px;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #eee;
}

html {
	background: #eee;
}

.banner-title {
	text-shadow: 1px 1px 4px black;
}

.cover-img {
	background-image: url('/img/beans.jpg');
	background-position: bottom;
}

.tm-shine {
    position: relative;
    overflow: hidden
}

.tm-shine::after {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 100%;
    -webkit-transform: skew(-10deg,0deg);
    transform: skew(-10deg,0deg);
    opacity: .3;
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),color-stop(1%,rgba(255,255,255,.03)),color-stop(30%,rgba(255,255,255,.6)),color-stop(50%,rgba(255,255,255,.85)),color-stop(70%,rgba(255,255,255,.85)),color-stop(71%,rgba(255,255,255,.85)),to(rgba(255,255,255,0)));
    background: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.03) 1%,rgba(255,255,255,.6) 30%,rgba(255,255,255,.85) 50%,rgba(255,255,255,.85) 70%,rgba(255,255,255,.85) 71%,rgba(255,255,255,0) 100%)
}

.tm-shine:hover::after {
    left: 100%;
    -webkit-transition: .6s ease-out;
    transition: .6s ease-out
}

.uk-navbar button.navbar-toggle {
  position: absolute;
  right: 0px;
  top: 0;
  padding: 9px 10px;
  margin-top: 24px;
  margin-right: 35px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.uk-navbar button.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #888;
}
.uk-navbar button.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.nav-text{

}

.logo-text {
  font-size:20px;
}

@media (max-width: 1200px) and (min-width: 959px) {
  .nav-text {
    margin-left: 200px;
  }
}

@media (max-width: 959px) {
  .cover-img {
      max-height: 30vh;
  }

  .logo-text {
    font-size: 15px;
  }

  .uk-navbar .toggle-target.collapsed {
    display: none;
  }
  .uk-navbar .toggle-target .uk-navbar-nav {
    display: block;
    top: 50px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background: #f8f8f8;
  }
  .uk-navbar .toggle-target .uk-navbar-nav li a {
    display: block;
    min-height: 0;
    line-height: 2em;
    padding: 0 15px !important;
  }
  .uk-navbar .toggle-target .uk-navbar-dropdown {
    width: 90%;
    min-width: 200px;
  }
  .uk-navbar .toggle-target .uk-navbar-dropdown[class*='uk-navbar-dropdown-bottom'] {
    margin-top: 0;
  }
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
a#logo {
  align-items:baseline
}

.menu-placer {
  list-style: none;
  margin-left: 40px;
  margin-bottom: 10px;
  line-height: 50px;
}