.cart-number {
  font-size: .625rem;
  position: absolute;
  top: 18px;
  right: -10px;
  min-width: 18px;
  height: 18px;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #eee;
}

html {
	background: #eee;
}

.banner-title {
	text-shadow: 1px 1px 4px black;
}

.cover-img {
	background-image: url('/img/beans.jpg');
	background-position: bottom;
}