.cart-number {
  font-size: .625rem;
  position: absolute;
  top: 18px;
  right: -10px;
  min-width: 18px;
  height: 18px;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #eee;
}

html {
	background: #eee;
}

.banner-title {
	text-shadow: 1px 1px 4px black;
}

.cover-img {
	background-image: url('/img/beans.jpg');
	background-position: bottom;
}

.tm-shine {
    position: relative;
    overflow: hidden
}

.tm-shine::after {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 100%;
    -webkit-transform: skew(-10deg,0deg);
    transform: skew(-10deg,0deg);
    opacity: .3;
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),color-stop(1%,rgba(255,255,255,.03)),color-stop(30%,rgba(255,255,255,.6)),color-stop(50%,rgba(255,255,255,.85)),color-stop(70%,rgba(255,255,255,.85)),color-stop(71%,rgba(255,255,255,.85)),to(rgba(255,255,255,0)));
    background: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.03) 1%,rgba(255,255,255,.6) 30%,rgba(255,255,255,.85) 50%,rgba(255,255,255,.85) 70%,rgba(255,255,255,.85) 71%,rgba(255,255,255,0) 100%)
}

.tm-shine:hover::after {
    left: 100%;
    -webkit-transition: .6s ease-out;
    transition: .6s ease-out
}